#clock {
    position: relative;
    top: 0px;
    left: 0px;
   
}

#clock img {
    position: absolute;
    top: 0px;
    left: 0px;
    
}

#hour {
    position: absolute;
    top: 0px;
    left: 0px;
}

#minute {
    position: absolute;
    top: 0px;
    left: 0px;
}

#second {
    position: absolute;
    top: 0px;
    left: 0px;
}

.rotate {
    transform: rotate(45deg)
  }