#clock {
    display: flex;
    justify-content: center;
    position: relative;
}

#face {
    position: absolute;
}

#hour {
    position: absolute;
}

#minute {
    position: absolute;
}

#second {
    position: absolute;
}

.rotate {
    transform: rotate(45deg);
}