#clock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-top: 25%;
}


#second {
    position: absolute;

    
}

#hour {
    position: absolute;
    
}


#minute {
    position: absolute;
    
}



#clock img {
    display: flex;
    justify-self: center;
    align-items: center;
    

}